<section class="tf-slideshow slider-default slider-effect-fade">
    <div dir="ltr" class="swiper tf-sw-slideshow" data-effect="fade" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-space-mb="0" data-loop="true" data-auto-play="true">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="wrap-slider">
                        <img src="@item.ImageUrl" alt="fashion-slideshow">
                        <div class="box-content">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <p class="fade-item fade-item-1 subheading text-btn-uppercase text-white" style="color: white !important;">
                                      <span style="color: white !important;">

                                          @item.TopTitle
                                        </span>
                                    </p>
                                    
                                    <div class="fade-item fade-item-2 heading text-white title-display">@Html.Raw(item.Title)</div>
                                </div>
                                <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="@item.ButtonUrl" class="tf-btn btn-fill btn-white">
                                        <span class="text">@item.ButtonTitle</span>
                                        <i class="icon icon-arrowUpRight"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="wrap-pagination">
        <div class="container">
            <div class="sw-dots sw-pagination-slider type-circle white-circle justify-content-center"></div>
        </div>
    </div>
</section>
